<h1 class="font-bold">Tithe</h1>
<p class="text-sm">Tithe > Add New Tithe</p> 


<div class="mt-8">
	<%= form_for @tithe do |f| %>
        <% if @tithe.errors.any? %>
         <div class="px-4 py-3 leading-normal text-red-700 bg-red-100 rounded-lg" role="alert">
          <% @tithe.errors.full_messages.each do |message|%>
            <div class="text-center"><%= message %></div>
         <% end %>
         </div>
    <% end %>

	<div class="bg-white px-4 max-w-lg rounded-t p-5 border-t-2 border-blue-500 mx-auto mt-3">
	
		<div>
		  <%= f.label :Membership_id %>
	      <%= f.select :membership_id, options_for_select(Membership.all.map{|c| [c.member_id, c.id]}), {:include_blank => '---Select MemberID ---'}, {id: 'dropdown-choice-select'}%>
		</div>

		<div>
		  <%= f.label :Amount %>
	      <%= f.text_field :amount, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2' %>
		</div>

		<div>
			<%= f.submit "Create Tithe", class: "bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded cursor-pointer" %>
		</div>

      <% end %>
	</div>
</div>
