<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Member Id</th>
			<th>MemberName</th>
			<th>Amount</th>
			<th>Date and Time Paid</th>
		</tr>
	</thead>
	<tbody>
		<% @tithes.each do|tithe| %>

		<tr>
			<td><%= tithe.id %></td>
			<td><%= tithe.membership.member_id %></td>
			<td><%= tithe.membership.firstname + " " + tithe.membership.lastname%></td>
			<td>GHc <%= tithe.amount %></td>
			<td><%= tithe.created_at %></td>
		</tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th>Total = </th>
			<th>GHc <%= @tithes.sum(:amount) %></th>
		</tr>
	</tfoot>
</table>

	
