<%= form_with url: login_path do |f| %>
    <div>
       <%= f.label :email %>
       <%= f.text_field :email %>
    </div>

    <div>
       <%= f.label :password %>
       <%= f.text_field :password %>
    </div>

    <div>
       <%= f.submit "Log in" %>
    </div> 
<% end %>