<h1 class="font-bold">Department Member</h1>
<p class="text-sm">Department Member > Add Department Member</p>

<div class="mt-8">
   <%= form_for @department_member do |f| %>
        <% if @department_member.errors.any? %>
         <div class="max-w-lg mx-auto px-4 py-3 leading-normal text-red-700 bg-red-100 rounded-lg" role="alert">
          <% @department_member.errors.full_messages.each do |message|%>
            <div class="text-center"><%= message %></div>
         <% end %>
         </div>
    <% end %>

	<div class="bg-white px-4 max-w-lg rounded-t p-5 border-t-2 border-blue-500 mx-auto mt-3">
	 
		<div>
		   <%= f.label :fullname %>
	       <%= f.text_field :name, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2' %>
		</div>

		<div>		
	       <%= f.label :Department %>
	       <%= f.select :department_id, options_for_select(Department.all.map{|c| [c.name, c.id]},  selected: @department_member.department_id), {:include_blank => '--Select One --'}, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
			<%= f.submit "Create", class: "bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded cursor-pointer" %>
		</div>	
      <% end %>
	</div>	
</div> 

