<h1 class="font-bold">Income</h1>
<p class="text-sm">Income > Add New Income</p> 

<div class="mt-10"> 
	<%= form_for @income do |f| %>
        <% if @income.errors.any? %>
         <div class="max-w-lg mx-auto px-4 py-3 leading-normal text-red-700 bg-red-100 rounded-lg" role="alert">
          <% @income.errors.full_messages.each do |message|%>
            <div class="text-center"><%= message %></div>
         <% end %>
         </div>
    <% end %>
    <div class="bg-white px-4 max-w-lg rounded-t p-5 border-t-2 border-blue-500 mx-auto mt-3">
	
		<div>
		   <%= f.label :total_tithe %>
	       <%= f.text_field :totaltithe, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
		   <%= f.label :total_offertory %>
	       <%= f.text_field :totaloffertory, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
		   <%= f.label :total_contribution %>
	       <%= f.text_field :totalcontribution, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
		   <%= f.label :total_pledge %>
	       <%= f.text_field :totalpledge, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
		   <%= f.label :month_year %>
	       <%= f.text_field :month_year, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>


		<div>		
	       <%= f.submit "Submit", class: "bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded cursor-pointer" %>
		</div>

      <% end %>
    </div>	
</div>

