<div class="mt-5 mb-8">
    <%= link_to "Add Income", new_income_path, class: 'bg-blue-500 p-2 text-white hover:bg-blue-600' %>
</div>


<div class="w-full shadow rounded-lg overflow-hidden mt-5 border-t-2 border-gray-500">
	<table class="w-full bg-white">
	<thead>
		<tr class="border-b-2 border-gray-200">
			<th class="text-left px-3 py-2">Id</th>
			<th class="text-left px-3 py-2">Tithe</th>
			<th class="text-left px-3 py-2">Offertory</th>
			<th class="text-left px-3 py-2">Contribution</th>
			<th class="text-left px-3 py-2">Pledge</th>
			<th class="text-left px-3 py-2">Total</th>
			<th class="text-left px-3 py-2">Date</th>
		</tr>
	</thead>
	<tbody>
		<% @incomes.each do|income| %>

		<tr  class="border-b border-gray-200 hover:bg-gray-100">
			<td class="px-3 py-1"><%= income.id %></td>
			<td class="px-3 py-1"><%= income.totaltithe %></td>
			<td class="px-3 py-1"><%= income.totaloffertory%></td>
			<td class="px-3 py-1"><%= income.totalcontribution %></td>
			<td class="px-3 py-1"><%= income.totalpledge %></td>
			<td class="px-3 py-1">GHc <%= income.total_income %></td>
			<td class="px-3 py-1"><%= income.month_year%></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>

<div class="mt-2">
<%= pagy_nav(@pagy).html_safe %>
</div>





	
