<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_purpose_cont %>
  <%= f.date_field :created_at_gteq %>
  <%= f.date_field :created_at_lteq %>
  <%= f.submit %>
<% end %>

<table>
	<thead>
		<tr>
		   <th>Id</th>
		   <th>Name</th>
		   <th>Purpose</th>
		   <th>Amount</th>
		   <th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @contributions.each do |contribution| %>
		  <tr>
		  	<td><%= contribution.id %></td>
			<td><%= contribution.name %></td>
			<td><%= contribution.purpose %></td>
			<td>GHc <%= contribution.amount %></td>
			<td><%= contribution.created_at.strftime('%A, %d %b %Y %l:%M %p')%></td>
		  </tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th>Total = </th>
			<th>GHc <%= @contributions.sum(:amount) %></th>
		</tr>
	</tfoot>
</table>



