<h1 class="font-bold">Expense</h1>
<p class="text-sm">Expense > Add New Expense</p> 

<div class="mt-8"> 
	<%= form_for @expense do |f| %>
        <% if @expense.errors.any? %>
         <div class="max-w-lg mx-auto px-4 py-3 leading-normal text-red-700 bg-red-100 rounded-lg" role="alert">
          <% @expense.errors.full_messages.each do |message|%>
            <div class="text-center"><%= message %></div>
         <% end %>
         </div>
    <% end %>

    <div class="bg-white px-4 max-w-lg rounded-t p-5 border-t-2 border-blue-500 mx-auto mt-3">

		<div>
		   <%= f.label :purpose %>
	       <%= f.text_field :purpose, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
		   <%= f.label :amount %>
	       <%= f.text_field :amount, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>
		   <%= f.label :date, "Date" %>
	       <%= f.date_field :expense_date, class: 'border border-gray-300 block w-full rounded px-2 py-1 focus:outline-none focus:border-blue-100 mb-2'  %>
		</div>

		<div>		
	       <%= f.submit "Submit", class: "bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded cursor-pointer" %>
		</div>

      <% end %>
    </div>	
</div>

