<%= search_form_for @q do |f| %>
  <%= f.search_field :purpose_cont %>
  <%= f.date_field :expense_date_gteq %>
  <%= f.date_field :expense_date_lteq %>
  <%= f.submit %>
<% end %>

<table>
	<thead>
		<tr>
		   <th>Id</th>
		   <th>Purpose</th>
		   <th>Amount</th>
		   <th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @expenses.each do |expense| %>
		  <tr>
		  	<td><%= expense.id %></td>
		  	<td><%= expense.purpose %></td>
			<td>GHc <%= expense.amount %></td>			
			<td><%= expense.expense_date.strftime('%A, %d %b %Y')%></td>
		  </tr>
		<% end %>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th>Total = </th>
			<th>GHc <%= @expenses.sum(:amount) %></th>
		</tr>
	</tfoot>
</table>



